{
  "$schema": "https://json.schemastore.org/swcrc",
  "sourceMaps": true,
  "module": {
    "type": "commonjs",
    "strict": true,
    "strictMode": true,
    "noInterop": false
  },
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "target": "ES2023",
    "keepClassNames": true,
    "baseUrl": ".",
    "paths": {
      "@/*": ["./src/*"],
      "@common/*": ["./src/common/*"],
      "@config/*": ["./src/config/*"],
      "@features/*": ["./src/features/*"],
      "@core/*": ["./src/core/*"]
    },
    "loose": false,
    "externalHelpers": false,
    "preserveAllComments": false
  },
  "isModule": true,
  "minify": false,
  "exclude": [
    "node_modules",
    "dist",
    ".*\\.spec\\.ts$",
    ".*\\.e2e-spec\\.ts$",
    "test/"
  ]
}
